.modal-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    inset: 0;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px dotted black;
    height: 100px;
    width: 200px;
}