.header-main {
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    margin: 05px;
    padding: 10px;
    background: linear-gradient(to right, #f5330d, #dd2476);
    border-radius: 5px;
}
