.modal-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    inset: 0;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px dotted black;
    width: 650px;
    max-width: 90vw;
    height: 400px;
    max-height: 80vh;
    padding: 25px;
    background: linear-gradient(to right, #ff512f, #dd2476);
    border-radius: 5px;
    align-items: center;
}

.user-name {
    justify-content: center;
    margin-top: 40px;
}

.userinput{
    height: 30px;
    padding: 5px;
   justify-content: center;
}

.userpassword {
    height: 30px;
     padding: 5px;
     justify-content: center;
}

.userlogin {
    margin-top: 20px;
}